<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dispatcher</title>
        <link rel="stylesheet" href="css/app.css" />
    </head>
    <body>
        <div id="app" style="width: 100%; height: 100%"></div>

        <script src="js/bundle.js"></script>
    </body>
</html>
